.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ds-theme-spacing-2xs);
}

.item {
  display: flex;
  align-items: center;
}

.item a:hover {
  text-decoration: underline;
}

.separator {
  display: flex;
  align-items: center;
}
