@import '@repo/tokens/light/build/css/light.css';
@import '@repo/tokens/dark/build/css/dark.css';
@import '@repo/tokens/high-contrast/build/css/high-contrast.css';
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/700.css';
@import '@/styles/normalize.css';

#root {
  /*
    The isolation property determines whether an element must create a new stacking context
    isolate - A new stacking context must be created
  */
  isolation: isolate;
}

body {
  font-family: var(--ds-typography-font-family-geist);

  /*
    Starting with iOS 26, Safari allows content beneath the UI chrome to be visible.
    Backdrops such as those used by dialogs must use position: absolute instead of position:
    fixed to cover the entire visual viewport. For this to work after the page is scrolled,
    the following style must be added to your global styles
  */
  position: relative;
}
