.page {
  counter-reset: section;
  background-color: var(--ds-theme-color-background-paper);
}

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-theme-spacing-md);
  padding: var(--ds-theme-spacing-lg) var(--ds-theme-spacing-md) var(--ds-theme-spacing-md);
  border-bottom: var(--ds-theme-border-width-sm) solid var(--ds-theme-color-border-default);
}

.titleMeta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-theme-spacing-3xs);
}

.actions {
  display: flex;
  gap: var(--ds-theme-spacing-xs);
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.stats > * {
  border-bottom: var(--ds-theme-border-width-sm) solid var(--ds-theme-color-border-default);
}

.historical,
.indicators {
  padding-inline: var(--ds-theme-spacing-md);
}

@media (min-width: 768px) {
  .titleBlock {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--ds-theme-spacing-lg) var(--ds-theme-spacing-lg) var(--ds-theme-spacing-md);
  }

  .stats {
    grid-template-columns: repeat(4, 1fr);
  }

  .historical,
  .indicators {
    padding-inline: var(--ds-theme-spacing-lg);
  }
}

@media (min-width: 1440px) {
  .titleBlock {
    padding: var(--ds-theme-spacing-xl) var(--ds-theme-spacing-xl) var(--ds-theme-spacing-lg);
  }

  .stats {
    grid-template-columns: repeat(7, 1fr);
  }

  .historical,
  .indicators {
    padding-inline: var(--ds-theme-spacing-xl);
  }
}
