.backdrop {
  position: fixed;
  inset: 0;
  z-index: var(--ds-z-index-top);
  background-color: var(--ds-theme-color-background-transparent);
  transition: opacity var(--ds-theme-animation-fade-quick) var(--ds-theme-animation-ease);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}
