.section {
  counter-increment: section;
  border-bottom: var(--ds-theme-border-width-sm) solid var(--ds-theme-color-border-subtle);
}

.header {
  padding: var(--ds-theme-spacing-lg) 0 var(--ds-theme-spacing-md);
}

.number {
  margin-bottom: var(--ds-theme-spacing-3xs);
}

.number::before {
  content: counter(section, decimal-leading-zero);
}

.body {
  padding-bottom: var(--ds-theme-spacing-lg);
}
